@model MvcCRUD.Models.Nota

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Nota</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdNota" />
            <div class="form-group">
                <label asp-for="IdMateriaAlumno" class="control-label"></label>
                <select asp-for="IdMateriaAlumno" class="form-control" asp-items="ViewBag.IdMateriaAlumno"></select>
                <span asp-validation-for="IdMateriaAlumno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Parcial_I" class="control-label"></label>
                <input asp-for="Parcial_I" class="form-control" />
                <span asp-validation-for="Parcial_I" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Parcial_II" class="control-label"></label>
                <input asp-for="Parcial_II" class="form-control" />
                <span asp-validation-for="Parcial_II" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sistematicos" class="control-label"></label>
                <input asp-for="Sistematicos" class="form-control" />
                <span asp-validation-for="Sistematicos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotaFinal" class="control-label"></label>
                <input asp-for="NotaFinal" class="form-control" />
                <span asp-validation-for="NotaFinal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConvocatoriaI" class="control-label"></label>
                <input asp-for="ConvocatoriaI" class="form-control" />
                <span asp-validation-for="ConvocatoriaI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NfconvocatoriaI" class="control-label"></label>
                <input asp-for="NfconvocatoriaI" class="form-control" />
                <span asp-validation-for="NfconvocatoriaI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConvocatoriaIi" class="control-label"></label>
                <input asp-for="ConvocatoriaIi" class="form-control" />
                <span asp-validation-for="ConvocatoriaIi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NfconvocatoriaIi" class="control-label"></label>
                <input asp-for="NfconvocatoriaIi" class="form-control" />
                <span asp-validation-for="NfconvocatoriaIi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
