@model MvcCRUD.Models.AlumnoMaterium

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>AlumnoMaterium</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdAlumnoNavigation.Carnet" class="control-label"></label>
                <select asp-for="IdAlumnoNavigation.Carnet" class="form-control" asp-items="ViewBag.CarnetAlumno"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdMateriaNavigation.Nombre" class="control-label"></label>
                <select asp-for="IdMateriaNavigation.Nombre" class="form-control" asp-items="ViewBag.Nombre_Materia"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
